*{
    border: 1px solid cyan;
}

html{
    height: 100%;
    background-color: lightpink;
}

body{
    height: 100%;
}

header div{
    display: flex;
    flex-direction: row;
}

header nav{
    display: flex;
    opacity: 50%;
    align-self: center;

}

#grey-space{
    background-color: grey;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    height: 100vh;
}

#order{
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#order h2{
    font-family: Intro;
    font-size: 100px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

#order div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    padding-left: 35%;
    padding-right: 35%;
    text-align: center;
    text-decoration: none;
}

#order div div{
    align-self: center;
    flex-direction: row;
    text-decoration: none;
}

#find-a-food{
    align-self: flex-start;
    text-decoration: none;
    font-family: Intro;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: orangered;
    font-family: Intro;
    font-size: 30px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    margin: 5%;
}

h1{
    opacity: 50%;
}

.product-banner{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin: 10%;
    text-align: left;
}

.product-banner img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-banner div span{
    display: flex;
    flex-direction: row;
}

.grey-star{
    filter: grayscale();
}