*{
    border: 0px solid cyan;
}

html{
    height: 100%;
    background-color: rgb(255, 255, 255);
}

body{
    height: 100%;
    padding: 0%;
    margin: 0%;
}

header div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 6%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0%;
}

header nav{
    display: flex;
    display: flex;
    align-self: center;
}

header nav img{
    align-content: center;
    opacity: 50%;
    height: 90px;
}

h1{
    color: grey;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 5%;
    font-family: Intro;
    font-weight: 100;
}

#grey-space{
    background-color: grey;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#order{
    background-color: green;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#order h2{
    border: 2px solid red;
    display: flex;
    font-family: Intro;
    font-size: 100px;
    color: white;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

#order div{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#order div a{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    color: black;
    text-decoration: none;
    font-family: Intro;
    font-weight: 100;
    font-size: 26px;
    width: 100%;
}

#order svg{
    fill: orangered;
    width: 10%;
    margin-right: 10%;
}

#order div a span{
    color: grey;
}

#find-a-food{
    align-self: flex-start;
    text-decoration: none;
    font-family: Intro;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: orangered;
    font-family: Intro;
    font-size: 30px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    margin: 5%;
}

.product-banner{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin: 10%;
    text-align: left;
}

.product-banner img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-banner div span{
    display: flex;
    flex-direction: row;
}

.grey-star{
    filter: grayscale();
}