@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro/intro-regular-webfont.woff2') format('woff2'),
         url('../fonts/Intro/intro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro/intro-black-webfont.woff2') format('woff2'),
         url('../fonts/Intro/intro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Lato/Lato-Bold.ttf') format('truetype'),
    url('../fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: normal, bold, bolder;
    font-style: normal;
}